.posts {
  @include lg-min {
    padding-top: $gap * 5;
    padding-bottom: $gap * 5;
  }

  @include lg-md {
    padding-top: $gap * 4;
    padding-bottom: $gap * 4;
  }

  @include md {
    padding-top: $gap * 3;
    padding-bottom: $gap * 3;
  }


  &__container {
    @extend %container;

    h2 {
      @include lg-md {
        margin-top: 0;
        margin-bottom: 42px;
        font-size: 2rem;
      }
    }
  }

  &__sections {
    display: grid;
    grid-gap: $gap;
    padding-bottom: $gap;

    @include lg-min {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
      "d1 d1 d2 d3"
      "d4 d5 d6 d6";
    }

    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
      "d1 d1 d2"
      "d3 d4 d4 "
      "d5 d5 d6";
    }

    @include md-sm {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "d1 d2"
      "d3 d4"
      "d5 d6";
    }

    @include sm {
      grid-template-columns: 1fr;
      grid-template-areas:
      "d1"
      "d2"
      "d3"
      "d4"
      "d5"
      "d6";
    }
  }

  .post-item {
    height: 100%;
    background-color: #f2f2f2;
    transition: background-color 0.5s;

    &:hover {
      background-color: #d8d8d8;

      .post-item__image img {
        transform: scale(1.1);
      }

      h3 {
        color: $color-primary;
      }

      p {
        color: $color-primary;
      }
    }

    &:nth-of-type(1) {
      grid-area: d1;
    }
    &:nth-of-type(2) {
      grid-area: d2;
    }
    &:nth-of-type(3) {
      grid-area: d3;
    }
    &:nth-of-type(4) {
      grid-area: d4;
    }
    &:nth-of-type(5) {
      grid-area: d5;
    }
    &:nth-of-type(6) {
      grid-area: d6;
    }

    &__image {
      display: flex;
      align-content: center;
      justify-content: center;
      transition: transform 0.5s;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        transition: 0.5s;
      }
    }

    &__link {
      overflow: hidden;
      height: 100%;
      display: grid;
      grid-template-rows: 300px 1fr;

    }

    &__text {
      display: grid;
      align-content: center;
      text-align: center;
      padding: $gap;
      color: $color-gray;

      h3 {
        font-size: 1.125rem;
        font-family: $font-header;
        letter-spacing: 0.05em;
        transition: 0.5s;
        text-align: center;
      }

      p {
        transition: 0.5s;
        text-align: center;
        letter-spacing: 0.002em;
      }
    }
  }
}

.posts__button {
  display: flex;
  justify-content: center;
}
.btn-accent {
  display: block;
  width: 350px;
  height: 60px;
  padding: 18px 20px;
  background-color: rgba($color-primary, 0.8);
  border: 2px solid $color-primary;
  letter-spacing: 0.1em;
  font-size: 1.125rem;
  text-align:center;
  transition: background-color 0.5s;

  @include sm {
    width: 100%;
  }
}
.btn-accent:hover {
  background-color: $color-accent;
}