.info {
    letter-spacing: 0.055em;
    background-color: $color-gray-light;

    @include lg-min {
        padding-top: $gap * 5;
        padding-bottom: $gap * 5;
    }

    @include lg-md {
        padding-top: $gap * 4;
        padding-bottom: $gap * 4;
    }

    @include md {
        padding-top: $gap * 3;
        padding-bottom: $gap * 3;
    }

    h2 {
        margin-top: 0;
        
        @include lg-md {
            font-size: 2rem;
            margin-bottom: 42px;
        }
    }

    &__container {
        display: grid;
        
        @extend %container;

        @include lg-min {
            grid-gap: $gap * 5;
            grid-template-columns: 1fr 271px;
        }

        @include lg-md {
            grid-gap: $gap * 2;
            grid-template-columns: 1fr 271px;
        }

        @include md-sm {
            grid-gap: $gap;
            grid-template-columns: 1fr 236px;
        }

        @include sm {
            padding: 0 20px;
            grid-gap: $gap;
            grid-template-columns: 1fr;
        }
    }  

    &__content {
        h2 {
            margin-top: 0;
        }

        p {
            @include lg-min {
                font-size: 1.125rem;
            }  
            
            &:first-of-type {
                position: relative;
                margin-top: -5px; 

                &::after {
                    position: absolute;
                    top: 0;
                    background-color: #d8dadc;
                    height: 200px;
                    width: 2px;
                    content: "";

                    @include lg-min {
                    right: -50px;                    
                    }  
                    
                    @include lg-md {
                        right: -$gap;                    
                    }

                    @include md {
                        right: -10px;
                    }  
                    
                    @include sm {
                        display: none;
                    }
                }
            }

            &:last-of-type {
                margin: 0;
            } 
        }
    }     

    &__image {
        display: grid;
        justify-items: center;
        align-content: center;
        
        img {
            margin-top: $gap;
            max-width: 100%; 
            max-height: 480px; 
        }
    }
}
